.pl-posts-container {
    width: 100%;
    max-width: 1200px;
}
.pl-posts-container:after {
    content: "";
    display: table;
    clear: both;
}

.pl-posts {
    box-sizing: border-box;
    float: left;
    width: 49%;
    position: relative;
}
.pl-posts:first-child {
    margin-right: 1%;
}
.pl-posts .spinner {
    float: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
}

.pl-multiselect {
    height: 400px;
    overflow-y: auto;
    vertical-align: top;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #32373c;
    outline: 0;
    margin: 0;
}
.pl-multiselect li {
    border-bottom: 1px solid #f8f8f8;
    padding: 7px 9px;
    margin: 0;
    display: block;
    cursor: pointer;
}
.pl-posts-selected .pl-multiselect li {
    cursor: default;
}
.pl-multiselect li:hover {
    background-color: #eaf2fa;
}
.pl-posts-selected .pl-multiselect li:hover .dashicons-no {
    display: block;
}
.pl-multiselect li.selected {
    background-color: #f8f8f8;
    cursor: default;
}
.pl-multiselect li .post-title {
    font-size: 13px;
}
.pl-multiselect li .post-type {
    float: right;
    text-transform: uppercase;
    font-size: 11px;
}
.pl-multiselect li .dashicons {
    color: #a00;
    float: right;
    position: relative;
    top: -3px;
    display: none;
    cursor: pointer;
}

.pl-searchbox {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: 0 none;
    padding: 9px;
}

.pl-autocomplete {
    width: 100%;
    font-size: 13px;
}
.pl-autocomplete.ui-autocomplete-loading {
    background-image: none !important;
}

.ui-autocomplete {
    display: none !important;
}
